@use "../../../../Styles/mixins.scss" as *;

.exploreSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @include tablet {
  }
}

.exploreContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  max-width: 1352px; /* Matches content exactly */
  padding: 0;
  
  @include mobile {
    padding: 0 16px;
  }
}

.titleWrapper {
  width: 100%;
  max-width: 1352px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}



.contentGrid {
  width: 100%;
  max-width: 1352px; /* Content shouldn't exceed 1352px */
  height: 875px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;

  @include laptop-sm {
    flex-direction: column;
    gap: 16px;
    height: auto;
  }
}

.leftColumn {
  flex: 1 1 0;
  min-width: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 17px;
  
  @include laptop-sm {
    width: 100%;
    flex: none;
    height: 1092px;
  }
}

.rightColumn {
  flex: 1 1 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 36px;
  
  @include laptop-sm {
    width: 100%;
    flex: none;
  }
}