@use "../../../Styles/variables" as *;
@use "../../../Styles/mixins" as *;

.header {
  width: 100%;
  border-bottom: 1px solid #4a5565;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background: white;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include laptop {
    padding: 16px 28px;
  }

  @include tablet {
    padding: 8px 16px;
  }
}

.logoContainer {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2px;
  text-decoration: none;
}

.logoImage {
  width: 20px;
  height: 24px;
}

.text {
  color: #363636;
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
}

.rightSection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.desktopContent {
  padding: 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.slogan {
  text-align: right;
  color: #363636;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.langSelector {
  padding: 2px 4px 2px 2px;
  background: #ebebeb;
  border-radius: 9999px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.flag {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  border-radius: 9999px;
}

.white {
  width: 24px;
  height: 24px;
  left: 0;
  top: 0;
  position: absolute;
  background: white;
}

.green {
  width: 24px;
  height: 16px;
  left: 0;
  top: 8px;
  position: absolute;
  background: #00966e;
}

.red {
  width: 24px;
  height: 8px;
  left: 0;
  top: 16px;
  position: absolute;
  background: #d62612;
}

.langText {
  width: 29px;
  text-align: center;
  color: #0b0b0b;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}

.navContainer {
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  display: inline-flex;
}

.navLink {
  text-decoration: none;
}

.navItemWrapper {
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.navText {
  color: #4A5565;
  font-size: 18px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

/* ==========================================================================
   Mobile Burger & Dropdown
   ========================================================================== */

.burgerButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  color: #000;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    display: flex;
  }
}

.mobileMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 16px;
  padding:  0 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.mobileLangContainer {
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.mobileLangWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.mobileLangOption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  border-radius: 9999px;
  cursor: pointer;
}

.activeLang {
  background: #EBEBEB;
  color: #0B0B0B;
}

.inactiveLang {
  background: transparent;
  outline: 1px solid #EBEBEB;
  outline-offset: -1px;
  color: #6E6E6E;
}

.mobileLangText {
  text-align: center;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}

.mobileNavWrapper {
  align-self: stretch;
  border-left: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.mobileNavItem {
  align-self: stretch;
  padding: 8px 0 ;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.mobileNavText {
  color: #4A5565;
  font-size: 22px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  line-height: 28px;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .desktopContent {
    display: none;
  }
}
