@use "../../../Styles/mixins.scss" as *;
@import "../../../Styles/variables.scss";

.viewAll {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #F40A0A;
  font-family: $font-manrope;
  font-weight: 600;
  text-decoration: none;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.7;
  }
}

.plain {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 200px;
  font-size: 14px;
  word-wrap: break-word;
}

.arrow {
  gap: 10px;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 1;

  &::after {
    content: "";
    width: 13px;
    height: 13px;
    background: currentColor;
    clip-path: polygon(100% 0, 100% 82%, 82% 82%, 82% 31%, 13% 100%, 0 87%, 69% 18%, 18% 18%, 18% 0);
    transition: transform 0.35s ease;
    will-change: transform;
  }

  &:hover {
    opacity: 1;

    &::after {
      transform: translate(4px, -4px);
    }
  }
}
