@use "../../../../Styles/mixins.scss" as *;
@import "../../../../Styles/variables.scss";

.catalogContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 56px;
  

  @include laptop-sm {
    gap: 32px;
  }
}

.headerSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include laptop-sm {
    flex-direction: column;
    gap: 0;
  }

  @include tablet {
    gap: 16px;
  }
}

.titleBlock {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 2px black solid;
  padding-bottom: 12px;

  @include tablet {
    width: 100%;
    flex: none;
  }
}

.title {
  color: black;
  font-size: 56px;
  font-family: $font-eb-garamond;
  font-weight: 700;
  margin: 0;

  @include laptop-sm {
    font-size: 46px;
    line-height: 64px;
  }

  @include tablet {
    font-size: 36px;
    line-height: 44px;
  }
}

.subtitleBlock {
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @include laptop-sm {
    justify-content: flex-start;
  }

  @include tablet {
    padding: 8px 0;
  }
}

.subtitle {
  width: 467px;
  text-align: right;
  color: #4A5565;
  font-size: 16px;
  font-family: $font-manrope;
  font-weight: 500;

  @include tablet {
    width: 100%;
    text-align: left;
  }
}

.filtersRow {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  width: 685px;
  max-width: 100%;

  @include laptop-sm {
    width: 685px;
  }

  @include tablet {
    width: auto;
    gap: 24px;
    flex-wrap: wrap;
  }
}

.filterItem {
  flex: 0 0 auto;

  @include tablet {
    flex: 0 0 auto;
    min-width: 0;
  }
}

.dropdownInputItem {
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.priceInput {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  color: black;
  font-size: 16px;
  font-family: $font-manrope;
  font-weight: 600;
  text-align: left;

  &::placeholder {
    color: rgba(54, 54, 54, 0.50);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}

.contentSection {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;

  @include tablet {
    flex-direction: column;
  }
}

.tagsColumn {
  margin: 0;
  list-style: none;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 200px;
  flex-shrink: 0;

  @include tablet {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
  }
}

.tagItem {
  width: 100%;
  padding: 8px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  @include tablet {
    width: auto;
  }
}

.tagDot {
  width: 10px;
  height: 10px;
  background: #0F0FFF;
  border-radius: 9999px;
}

.tagText {
  color: black;
  font-size: 16px;
  font-family: $font-manrope;
  font-weight: 600;
  word-wrap: break-word;

  &.inactive {
    color: #5C5C70;
  }
}

.mainColumn {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 0;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 24px;

  @include tablet {
    flex-direction: column;
  }
}

.horizontalList {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 0;
}

.bottomSection {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;

  @include laptop-sm {
    flex-direction: column;
  }
}

.verticalList {
  flex: 1 1 0;
  display: flex;
  gap: 24px;

  @include laptop-sm {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include tablet {
    display: flex;
    flex-direction: column;
  }
}

.verticalCardWrapper {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex: none;
    width: 100%;
  }
}
