@use "../../../../Styles/mixins.scss" as *;

.discoverButton {
  flex: 1 1 0;
  align-self: stretch;
  padding-left: 12px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  border: none;
  text-decoration: none;

  &.dark {
    background: #101828;
  }

  &.blue {
    background: #0F0FFF;
  }
}

.discoverText {
  flex: 1 1 0;
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: $font-manrope;
  font-weight: 500;
}

.discoverArrow {
  width: 40px;
  height: 40px;
  padding: 8px;
  overflow: hidden;
  border-radius: 44px;
  outline: 2px white solid;
  outline-offset: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
