@use "../../../../Styles/mixins.scss" as *;

.readButton {
  padding-left: 12px;
  background: white;
  border-radius: 9999px;
  outline: 2px #0F0FFF solid;
  outline-offset: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.readText {
  text-align: center;
  color: #0F0FFF;
  font-size: 16px;
  font-family: $font-manrope;
  font-weight: 500;
}

.readArrow {
  width: 32px;
  height: 32px;
  padding: 10px;
  overflow: hidden;
  border-radius: 44px;
  outline: 2px #0F0FFF solid;
  outline-offset: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
