@use "../../../../Styles/mixins" as *;
@import "../../../../Styles/variables";

.sectionContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.topRow {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  align-items: stretch; /* Keep columns same height if possible, or flex-start */
  gap: 24px;

  @include laptop {
    flex-direction: column;
  }
}

.expertsColumn {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;

  @include laptop {
    width: 100%;
  }
}

.title {
  color: #0F0FFF;
  font-size: 14px;
  font-family: $font-manrope;
  font-weight: 600;
  text-transform: uppercase;
  word-wrap: break-word;
}

.cardsRow {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 12px;

  @include mobile {
    flex-direction: column;
  }
}

.bannerColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  width: 667px;
  max-width: 100%;

  @include laptop {
    width: 100%;
  }
}


.bottomRow {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 19px;

  @include tablet {
    flex-wrap: wrap;
  }

  @include mobile {
    flex-direction: column;
  }
}
